# Ignore all files
*

# Except specific files and directories

## Source code
!src
!src/**

## Cargo files
!build.rs
!Cargo.toml
!Cargo.lock

## For database migrations
!migrations
!migrations/**

## For vergen-gitcl
!.git
